* {
    box-sizing: border-box;
}

:root {
    --body-background-color: rgb(248, 248, 246);
    --error-color: rgb(238, 0, 0);
    --link-hover-color: rgb(1, 67, 209);
    --result-border-color: rgb(135, 142, 150);
    --result-background-color: rgb(255, 255, 255); 
    --search-button-color: rgb(16, 139, 0);
    --search-button-hover-color: rgb(16, 139, 0, 0.75);
    --search-button-font-color: rgb(236, 245, 255);
    --stack-overflow-color: rgb(244, 128, 36);
    --stack-overfolow-hover-color: rgb(244, 128, 36, 0.75);
    --youtube-color: rgb(255, 0, 0);
}

body {
    background-color: var(--body-background-color);
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-image: url('./assets/fabric_of_squares_gray.png');
}

.app-title {
    font-family: 'Roboto Slab', serif;
    margin-top: 40px;
}

nav {
    background-color: var(--search-button-color);
    color: var(--search-button-font-color);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 4px black;
    opacity: 0.75;
  }

.brand {
    max-width: 100px;
    padding: 10px 0; 
}

header {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

form {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

fieldset {
    border: 0;
}

input.input-box-size {
    font-size: 1em;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
}

input.search-button {
    background-color: var(--search-button-color);
    border: 1px solid var(--search-button-color);
    border-radius: 3px;
    color: var(--search-button-font-color);
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    height: 40px;
    margin: 0 auto;
    padding: 5px;
    width: 200px;
}

input.search-button:hover {
    background-color: var(--search-button-hover-color);
    border: 1px solid var(--search-button-hover-color);
    color: var(-result-background-color);
    cursor: pointer;
}

.error-message {
    color: var(--error-color);
    display: block;
    margin: 10px 50px;
}

.results-container {
    display: flex;
    justify-content: space-around;
    /* align-items: space-around; */
    flex-wrap: wrap;
    margin: 0 auto 20px;
    max-width: 1200px;
}

.stackoverflow-results,
.youtube-results {
    background-color: var(--result-background-color);
    border: 1px solid var(--result-border-color);
    border-radius: 5px;
    margin: 10px;
    max-width: 45%;
    padding: 0 20px;
    overflow-wrap: break-word;
}

.no-stack-overflow-results > a {
    color: var(--link-hover-color);
    display: block;
    word-wrap: break-word;
}

.no-stack-overflow-results > a:hover {
    color: var(--stack-overflow-color);
}

.fa-stack-overflow {
    color: var(--stack-overflow-color);
}

.fa-youtube {
    color: var(--youtube-color);
}

.iframe-embed {
    width: 100%;
    height: 300px;
}

li {
    list-style: none;
    padding-bottom: 20px;
    padding-right: 10px;
}

a {
    color: var(--link-hover-color);
    display: block;
    word-wrap: break-word;
}

a:hover {
    color: var(--stack-overflow-color);
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.js-hide {
    display: none;
}

.hide-body,
.markdown-hide,
.button-hide {
    display: none;
}

.see-more,
.see-less {
    background-color: var(--stack-overflow-color);
    border: 1px solid var(--stack-overflow-color);
    border-radius: 3px;
    color: var(--search-button-font-color);
    font-family: 'Roboto Slab', serif;
    padding: 5px;
    margin-bottom: 15px;
}

.see-more:hover,
.see-less:hover {
    background-color: var(--stack-overfolow-hover-color);
    border: 1px solid var(--stack-overfolow-hover-color);
    border-radius: 3px;
    color: var(-result-background-color);
    cursor: pointer;
}

a.search-top {
    color: var(--search-button-color);
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 100%;
    margin: 0 auto;
    max-width: 160px;
    padding-bottom: 20px;
    text-decoration: none;
}

a.search-top,
.fa-search {
    color: var(--search-button-color);
}

a.search-top:hover,
.fa-search:hover {
    color: var(--search-button-hover-color);
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .app-title {
        font-size: 180%;
    }

    .app-detail {
        font-size: 120%;
    }

   .stackoverflow-results,
   .youtube-results {
        max-width: 90%;
        padding: 10px;
    }

    .stackoverflow-results > h2,
    .youtube-results > h2{
        margin-top: 10px;
    }

    .stackoverflow-results > ul,
    .youtube-results > ul {
        padding-left: 20px;
    }

    .iframe-embed {
        height: 180px;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .app-title {
        font-size: 180%;
    }

    .app-detail {
        font-size: 120%;
    }

   .stackoverflow-results,
   .youtube-results {
        max-width: 90%;
        padding: 10px;
    }

    .stackoverflow-results > h2,
    .youtube-results > h2{
        margin-top: 10px;
    }

    .stackoverflow-results > ul,
    .youtube-results > ul {
        padding-left: 20px;
    }

    .iframe-embed {
        height: 250px;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .stackoverflow-results,
    .youtube-results {
         max-width: 90%;
         padding: 10px;
     }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .iframe-embed {
        height: 180px;
    }
}
